### Fetch the datasets

In [19]:
import pandas as pd

df = pd.read_csv("clean_coffee_shop_sales.csv")
df_monthly = pd.read_csv("monthly_sales_summary.csv")

In [20]:
df_monthly.head()

,Unnamed: 0,transaction_month,total_sales,sales_difference,sales_percent_change
0,0,1,81677.74,NaN,NaN
1,1,2,76145.19,-5532.55,-6.773633
2,2,3,98834.68,22689.49,29.797667
3,3,4,118941.08,20106.40,20.343466
4,4,5,156727.76,37786.68,31.769242

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         149116 non-null  int64
 1   transaction_id     149116 non-null  int64
 2   transaction_date   149116 non-null  object
 3   transaction_time   149116 non-null  object
 4   transaction_qty    149116 non-null  int64
 5   store_id           149116 non-null  int64
 6   store_location     149116 non-null  object
 7   product_id         149116 non-null  int64
 8   unit_price         149116 non-null  float64
 9   product_category   149116 non-null  object
 10  product_type       149116 non-null  object
 11  product_detail     149116 non-null  object
 12  transaction_month  149116 non-null  int64
dtypes: float64(1), int64(6), object(6)
memory usage: 14.8+ MB

### Calculate the total number of orders for each respective month.

In [22]:
# Initialize an empty list to store order counts
orders_count = []

# Iterate over each row in df_monthly
for index, row in df_monthly.iterrows():
    # Get the count of transactions for the current month
    count = df[df['transaction_month'] == row['transaction_month']]['transaction_id'].count()
    
    # Append the count to the orders_count list
    orders_count.append(count)

# Assign the orders_count list as a new column in df_monthly
df_monthly['orders_count'] = orders_count

# Display the updated DataFrame
print(df_monthly)

   Unnamed: 0  transaction_month  total_sales  sales_difference  \
0           0                  1     81677.74               NaN
1           1                  2     76145.19          -5532.55
2           2                  3     98834.68          22689.49
3           3                  4    118941.08          20106.40
4           4                  5    156727.76          37786.68
5           5                  6    166485.88           9758.12

   sales_percent_change  orders_count
0                   NaN         17314
1             -6.773633         16359
2             29.797667         21229
3             20.343466         25335
4             31.769242         33527
5              6.226159         35352

### Calculate the difference in the number of orders between the selected month and the previous month.

In [23]:
df_monthly['orders_difference'] = df_monthly['orders_count'].diff()
df_monthly

,Unnamed: 0,transaction_month,total_sales,sales_difference,sales_percent_change,orders_count,orders_difference
0,0,1,81677.74,NaN,NaN,17314,NaN
1,1,2,76145.19,-5532.55,-6.773633,16359,-955.0
2,2,3,98834.68,22689.49,29.797667,21229,4870.0
3,3,4,118941.08,20106.40,20.343466,25335,4106.0
4,4,5,156727.76,37786.68,31.769242,33527,8192.0
5,5,6,166485.88,9758.12,6.226159,35352,1825.0

### Determine the month-on-month increase or decrease in the number of orders.

In [24]:
df_monthly['orders_percent_change'] = df_monthly['orders_count'].pct_change()*100
df_monthly

,Unnamed: 0,transaction_month,total_sales,sales_difference,sales_percent_change,orders_count,orders_difference,orders_percent_change
0,0,1,81677.74,NaN,NaN,17314,NaN,NaN
1,1,2,76145.19,-5532.55,-6.773633,16359,-955.0,-5.515768
2,2,3,98834.68,22689.49,29.797667,21229,4870.0,29.769546
3,3,4,118941.08,20106.40,20.343466,25335,4106.0,19.341467
4,4,5,156727.76,37786.68,31.769242,33527,8192.0,32.334715
5,5,6,166485.88,9758.12,6.226159,35352,1825.0,5.443374

### Export Monthly File

In [26]:
df.to_csv("monthly_sales_summary.csv")